@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">Welcome to my sample ASP .NET Core CONTAINER Web Site</h4>
    <p>Learn about <a href="www.google.com">Click here to open the Google Home page...</a>.</p>
</div>
