@{
    ViewData["Title"] = "My Page";
}

<div class="text-center">
    <h4>Welcome to my sample ASP .NET Core CONTAINER Web site</h4>
    <p>Learn about <a href="www.google.com">Click here to open Google Home page</a>.</p>
</div>
