@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p class="display-4">Welcome to my sample ASP .NET Core CONTAINER Web site</p>
    <p>Learn about <a href="www.google.com">Click here to open the Google Home page...</a>.</p>
</div>
