@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my sample ASP .NET Core CONTAINER web site</h1>
    <p>Learn about <a href="www.google.com">Click here to open the Google Home page...</a>.</p>
</div>
